#modal {
    position:absolute;
    top: 25vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 40vw;
    box-shadow: 1px 1px 6px 1px;
   background-color: white;
}

#list {
    text-align: left;
}

.validate {
    color: green;
}