#item {
   height: 15vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    box-shadow: 2px 2px 4px 1px;
    border: none;
    background-color: teal;
    display: flex;
    flex-direction: column;
}

#item:hover {
    box-shadow: none;
    background-color: #006c7f;
}